# MongoDB Connection
MONGODB_URI=mongodb+srv://shakti-app:SaradaMa@first.a7ovgij.mongodb.net/shakti-app?retryWrites=true&w=majority
MONGODB_DB="fiora_production"

# Auth & Security
JWT_SECRET=5ad4616b7962419b3031af34bfdae00afe50ebe798059ddb7a6b31d5aa1703ad
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="10080" # 7 days
MAGIC_SECRET_KEY=sk_live_E544FE188785822A

# AI & Processing
GEMINI_API_KEY=AIzaSyBlAhxXXMPFFX1ngEynusXxmt2lyaWY9Ag
GEMINI_MODEL="gemini-2.0-flash"

# Voice Integration
ELEVENLABS_API_KEY=sk_b3f39ef06bba93de93d96289f5e2652e5e8b741ac64c85c4
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM

# Microservices
FIORA_ML_URL="http://<ml-service-host>:8001"
FIORA_ML_API_KEY="<optional-internal-ml-api-key>"

# General Application Config
CORS_ORIGINS="*"
RATE_LIMIT_DEFAULT="200/minute"
